
#container
        {
           width: 80%;
           height: 1000px;
           margin-left: 5%;
           margin-top: 5%;
           border-top: 1px solid grey;
           display: flex;
           
        }
        
        #leftdiv{
            width: 15%;
            height: 480px;
            border-right: 1px solid grey;
            line-height:20px;
        }
        #rightdiv{
            width: 85%;
            height: 100%;
        
            /* border-left: 1px solid grey; */

        }

      #carddiv
      {
         width: 70%;
         height: 240px;
         /* border: 1px solid grey; */
         background-color: lightgrey;
         margin-left: 2%;
         margin-top: 1%;
    
      }
      #carddivposterimage
      {
          display: flex;
          width: 100%;
          height: 85%;
          /* border: 1px solid crimson; */
      }

#carddivposterimage>div
{
    width: 50%;
    height: 100%;
    border: 1px solid black;
}
#buttondiv{
    width: 100%;
    height: 10%;

}
button
{
    
    width: 46%;
    margin-top: 2%;
    margin-left: 2%;
    background-color: white;
    color: black;

   

}
a{
        color: black;
        text-decoration: none;
    }
    
    .hrrulerwidth{
            width:60%;
            margin-right: 75%;
        }
        #myntrainsider
    {
      width: 90%;
      height: 60px;
      border: 1px solid green;
      margin-top: 1%;
      margin-left: 1%;
      margin-bottom: 1%;
      padding-left: 1%;
      line-height: 5px;
      padding-top: 0px;
      background-color:#e83b6a;
      /* display: flex; */
    }
img{
    width: 100%;
    height: 100%;
}
.dummyimage
{
    width: 50%;
    height: 50%;
    margin-left: 20%;
}
.colorgreen
{
    color:rgb(52, 146, 52)
}



#profilediv{
     
width: 85%;
height: 530px;
border: 1px solid none;
margin: 2%;

}

#profilecenterdiv{
    width: 80%;
    height: 80%;
    border-top: 1px solid ghostwhite;
    margin: auto;
    margin-top: 2%;
}
.aliglrftprofilehead
{
    margin-left: 10.5%;

}
td {
    width: 150px;
    text-align: left;
    border: 1px solid none;
    padding: 5px;
    font-size: 20px;
}
#editbutt{
    background-color: #e83b6a;
    width: 70%;
    height: 30px;
    margin-top: 7%;
    border: none;
    margin-left: 0%;

}
/* a:hover {
    background-color: yellow;
  } */
.hoverp:hover
{
color: #e83b6a;   
}

#editdiv{
    width: 90%;
    height: 530px;
    border: 1px solid black;
    margin: 1%;
}
#editdetail
{
    margin-left: 10.5%;
    margin-bottom: 1%;
}
#horizontal
{
    margin-left: 5%;
    width: 60%;
    color: grey;
}
.mobileditdiv
{
    width: 70%;
    height: 40px;
    border: 1px solid grey;
    margin-left: 7%;
    margin-top: 2%;
    line-height: 10px;
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
/* #buttedit
{
    width: 70%;
    height: 70%;
    border: 1px solid black;
    background-color: white;
    margin: auto;
} */

#savechange
{
    margin-left: 22%;
    height: 50px;
    width: 50%;
    background-color: #e83b6a;
    color: black;
}
input{
    width: 200%;
}


        @media only Screen and (min-width:0px) and (max-width:375px){

#leftdiv,#myntrainsider{
    display: none;
}
#container{
    border: none;

}
#rightdiv{
    margin: auto;
    margin-top: 10%;
    margin-left: 15%;
    width: 100%;
}


#carddiv
      {
         width: 98%;
         height: 270px;
         margin-left: 0%;
         margin-top: 2%;
         line-height: 15px;
      }

   
}


@media only Screen and (min-width:376px) and (max-width:768px){

#leftdiv,#myntrainsider{
    display: none;

}
#container{
    border: none;

}

#rightdiv{
    margin: auto;
    margin-top: 10%;
    margin-left: 15%;
}
#carddiv
      {
         width: 98%;
         height: 250px;
         margin-left: 0%;
         margin-top: 1%;
      }



}
