body {
  margin: 0;
}

.header {
  top: 0;
  position: sticky;
  z-index: 10;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  top: 0;
  position: sticky;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.company-logo {
  padding: 10px;
  width: 50px;
}
.company-logo > img {
  width: 100%;
}
#menu {
  display: flex;
  gap: 20px;
}

#myLinks {
  display: none;
  position: sticky;
  top: 12%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: white;
}

#menuIcon {
  display: none;
}
.nav-last {
  display: flex;
}
.nav-last > div {
  text-align: center;
  margin-left: 15px;
}

#svg {
  height: 15px;
  margin-left: 0px;
}

.search-bar {
  display: flex;
  background-color: #eee;
  height: 40px;
  align-items: center;
  border-radius: 3px;
  width: 24%;
}

#searchpng {
  width: 15px;
  margin: 15px;
  opacity: 0.5;
}

.search-bar input {
  width: 70%;
  border: none;
  background-color: #eee;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  margin: 10px 0;
}
@media screen and (min-width: 0) and (max-width: 415px) {
  .company-logo {
    display: none;
  }
}
@media screen and (min-width: 0) and (max-width: 870px) {
  .navbar {
    justify-content: space-between;
  }
  .search-bar {
    display: none;
  }
}

@media screen and (min-width: 0) and (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 0 10px;
  }
  #menuIcon {
    display: block;
    position: sticky;
    right: 0;
  }

  #myLinks {
    justify-content: space-around;
    /* flex-direction: column; */
  }

  #menu {
    display: none;
  }
}
