body {
  margin: 0;
}
.header {
  top: 0;
  position: sticky;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
}
.company-logo {
  padding: 10px;
  width: 50px;
}
.company-logo > img {
  width: 100%;
}
.menu-options {
  display: flex;
  align-items: center;
  margin-left: 20px;
  flex-wrap: wrap;
}
.menu-options > div {
  padding: 20px 20px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
.menu-options > div:hover {
  border-bottom: 2px solid red;
}
.menu-options > div > a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 15px;
}
.search-bar {
  display: flex;
  background-color: #eee;
  height: 40px;
  align-items: center;
  border-radius: 3px;
  width: 24%;
}

#searchpng {
  width: 15px;
  margin: 15px;
  opacity: 0.5;
}

.search-bar input {
  width: 70%;
  border: none;
  background-color: #eee;
  text-align: center;
}
.navbar-right {
  display: flex;
  justify-content: center;
}
.navbar-right > div {
  text-align: center;
  margin: 0 20px;
}
#svg {
  width: 30px;
}
