#container {
  border-top: 1px solid grey;
  display: flex;
  margin: 30px auto;
  width: 1000px;
}

#leftdiv {
  width: 15%;
  height: 480px;
  border-right: 1px solid grey;
  line-height: 20px;
}

#rightdiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#carddiv {
  height: 240px;
  margin-top: 1%;
}

#carddivposterimage {
  display: flex;
  width: 100%;
  height: 85%;
}

#carddivposterimage > div {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#carddivposterimage > div > p {
  margin: 10px;
}

#buttondiv {
  width: 100%;
  height: 10%;
}

.btnStyle {
  border: 1px solid #e83b6a;
  color: #e83b6a;
  padding: 5px 10px;
  background-color: transparent;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bolder;
  margin: 10px;
  width: 46%;
  margin-top: 2%;
  margin-left: 2%;
  background-color: white;
  color: black;
}
.btnStyle:hover {
  color: white;
  background-color: #e83b6a;
}
/* #buttondiv > button {
  width: 46%;
  margin-top: 2%;
  margin-left: 2%;
  background-color: white;
  color: black;
} */

a {
  color: black;
  text-decoration: none;
}

.hrrulerwidth {
  width: 60%;
  margin-right: 75%;
}

#myntrainsider {
  text-align: center;
  width: 90%;
  margin-top: 1%;
  padding-left: 1%;
  line-height: 5px;
  color: white;
  background-color: #e83b6a;
  font-weight: bolder;
}

#carddivposterimage > div > img {
  width: 100%;
  height: 100%;
}

.dummyimage {
  width: 50%;
  height: 50%;
  margin-left: 20%;
}

.colorgreen {
  color: rgb(52, 146, 52);
}

#profilediv {
  width: 85%;
  height: 530px;
  border: 1px solid none;
  margin: 2%;
}

#profilecenterdiv {
  width: 80%;
  height: 80%;
  border-top: 1px solid ghostwhite;
  margin: auto;
  margin-top: 2%;
}

.aliglrftprofilehead {
  margin-left: 10.5%;
}

td {
  width: 150px;
  text-align: left;
  border: 1px solid none;
  padding: 5px;
  font-size: 20px;
}

#editbutt {
  background-color: #e83b6a;
  width: 70%;
  height: 30px;
  margin-top: 7%;
  border: none;
  margin-left: 0%;
}

.hoverp:hover {
  color: #e83b6a;
}

#editdiv {
  width: 90%;
  height: 530px;
  border: 1px solid black;
  margin: 1%;
}

#editdetail {
  margin-left: 10.5%;
  margin-bottom: 1%;
}

#horizontal {
  margin-left: 5%;
  width: 60%;
  color: grey;
}
.mobileditdiv {
  width: 70%;
  height: 40px;
  border: 1px solid grey;
  margin-left: 7%;
  margin-top: 2%;
  line-height: 10px;
  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#savechange {
  margin-left: 22%;
  height: 50px;
  width: 50%;
  background-color: #e83b6a;
  color: black;
}

input {
  width: 200%;
}

@media only Screen and (min-width: 0px) and (max-width: 375px) {
  #leftdiv,
  #myntrainsider {
    display: none;
  }

  #container {
    border: none;
    width: 370px;
  }

  #rightdiv {
    margin: auto;
    width: 100%;
  }

  #carddiv {
    width: 98%;
    height: 270px;
    margin-left: 0%;
    margin-top: 2%;
    line-height: 15px;
  }
  #carddivposterimage {
    height: 60%;
  }
}

@media only Screen and (min-width: 376px) and (max-width: 768px) {
  #leftdiv,
  #myntrainsider {
    display: none;
  }

  #container {
    border: none;
    width: 500px;
  }

  #rightdiv {
    margin: auto;
  }

  #carddiv {
    width: 98%;
    height: 250px;
    margin-left: 0%;
    margin-top: 1%;
  }
  #carddivposterimage {
    height: 60%;
  }
}
