#container {
  border-top: 1px solid grey;
  max-width: 800px;
  min-height: 300px;
  display: flex;
  margin: 30px auto;
}

#leftdiv {
  width: 20%;
  border-right: 1px solid grey;
  line-height: 20px;
}

#leftdiv-heading {
  width: 100%;
  margin: auto;
}

.hoverp:hover {
  color: #e83b6a;
}

#rightdiv {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
}

.colorgreen {
  color: rgb(52, 146, 52);
}

#carddiv {
  border-top: 2px solid black;
  padding-bottom: 10px;
}
#carddivposterimage {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

#imagediv {
  text-align: center;
  width: 100%;
}
#descriptondiv {
  width: 100%;
}
#imagediv > img {
  width: 50%;
}

#buttondiv {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

#buttondiv > button {
  margin: 0 20px;
}

.btnStyle {
  border: 1px solid #e83b6a;
  color: #e83b6a;
  padding: 5px 10px;
  background-color: transparent;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bolder;
  margin: 10px;
  width: 26%;
  margin-top: 2%;
  margin-left: 2%;
  background-color: white;
  color: black;
}
.btnStyle:hover {
  color: white;
  background-color: #e83b6a;
}
@media only Screen and (min-width: 0px) and (max-width: 768px) {
  #leftdiv {
    display: none;
  }

  #rightdiv {
    margin: auto;
    width: 100%;
  }

  #carddivposterimage {
    flex-direction: column;
  }
  #descriptondiv {
    text-align: center;
  }
}
